@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-color: hsl(0, 100%, 74%) ;
    background-image: url(images/bg-intro-desktop.png);
    font-family: 'Poppins', sans-serif;
    color: white;
}
.container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    padding: 20px;
    min-height: 100vh;
    margin: 0 auto;
}
.container > div{
    flex: 1;
    padding: 0 20px;
}
h1{
    font-size: 40px;
    line-height: 50px;
}
p{
    font-size: 15px;
    /* opacity: 0.9; */
}
.box{
    background-color: white;
    border-radius: 5px;
    padding: 30px;
    box-shadow: 0 6px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    text-align: center;
}
.box p{
    margin: 0;
}
.box-blue{
    background-color: hsl(248, 32%, 49%);
    padding: 20px;
}
.form-control{
    margin-bottom: 30px;
    position: relative;
}
.form-control img{
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    height: 20px;
}
.form-control.error img{
    opacity: 1;
}
.form-control.error input{
    border-color: hsl(0, 100%, 74%);
    color: hsl(0, 100%, 74%);
}
.form-control.error input ::placeholder{
    color: hsl(0, 100%, 74%);
}
.form-control small{
    text-align: right;
    position: absolute;
    bottom: -24px;
    opacity: 0;
    right: 0;
    color: hsl(0, 100%, 74%);
    font-weight: 600;

}
input{
    display: block;
    width: 100%;
    border: 1.3px solid hsl(249, 10%, 26%);
    padding: 15px 25px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}
input:focus{
    border: 1.3px solid hsl(248, 32%, 49%);
    outline: none;
}
button{
    background-color: hsl(154, 59%, 51%);
    width: 100%;
    border: 1px solid hsl(154, 59%, 45%);
    box-shadow: 0 2px hsl(154, 59%, 45%);
    padding: 15px 25px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 14px;
    color: white;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    display: block;
    letter-spacing: 1px;
}
button:focus{
    outline: none;
}
button:active{
    box-shadow: 0 0 hsl(154, 59%, 45%);
    transform: translateY(2px);
}
.form-control.error small{
    opacity: 0;
}
.form-control small{
    opacity: 1;
}
small{
    color: #bbb;
    display: block;
    font-size: 12px;
    margin-top: 11px;
    font-weight: 500;
}
small a{
    color: hsl(0, 100%, 74%);
    text-decoration: none;
}

@media screen and (max-width :760px){
    h1{
        text-align: center;
    }
    p{
        text-align: center;
    }
    .container{
        flex-direction: column;
    }
}